<form (submit)="process($event)" class="card-body" #form="ngForm">
  <div class="row">
    <div class="col" *ngIf="customer_id">
      <h4>Editar dados de {{customer.name}}</h4>
    </div>
    <div class="col" *ngIf="!customer_id">
      <h4>Cadastrar novo cliente</h4>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-4">
      <label for="">Nome</label>
      <input type="text" name="nome"
             class="form-control" required [(ngModel)]="customer.name">
      <span class="text-muted">Obrigatório</span>
    </div>

    <div class="form-group col-5">
      <label for="">E-mail</label>
      <input type="email" name="email" class="form-control" required [(ngModel)]="customer.email">
      <span class="text-muted">Obrigatório</span>
    </div>

    <div class="col-3"></div>

    <div class="form-group col-3">
      <label for="">Fone</label>
      <input type="text" name="fone" class="form-control" required [(ngModel)]="customer.phone">
      <span class="text-muted">Obrigatório</span>
    </div>

    <div class="col-5">
      <label for="">Foto</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Upload</span>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="addFile($event)">
          <label class="custom-file-label" for="inputGroupFile01">{{customer.photo}}</label>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-1">
      <button type="submit" class="btn btn-success" [disabled]="false">Salvar
      </button>
    </div>
    <div class="col" *ngIf="customer_id">
      <a href="#/home">
        <button type="button" class="btn btn-warning">Voltar</button>
      </a>
    </div>
  </div>
</form>
