<table class="table table-hover">
  <thead>
  <tr>
    <th>Photo</th>
    <th>Nome</th>
    <th>Email</th>
    <th>Fone</th>
    <th>Data Cadastro</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of cadastros">
    <td class="align-middle">
      <img width="30%" src="photos/{{c.photo}}">
    </td>
    <td class="align-middle">{{c.name}}</td>
    <td class="align-middle">{{c.email}}</td>
    <td class="align-middle">{{c.phone}}</td>
    <td class="align-middle">{{c.data}}</td>
    <td class="align-middle">
      <button class="btn btn-outline-danger" (click)="delete(c.customer_id)">Deletar</button>
      <a href="#/edit/{{c.customer_id}}"><button class="btn btn-info">Editar</button></a>
    </td>
  </tr>
  </tbody>
</table>
