<nav class="navbar navbar-light bg-warning">
  <span class="navbar-text">
      <strong>Essentia Pharma</strong>
  </span>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
